<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MathTutor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iMathTutor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53FFE8021F3ED621004A9F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53FFE8141F3ED622004A9F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53FFE8271F3ED913004A9F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53FFE83D1F3ED914004A9F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
